In [90]:
import pandas as pd

df = pd.read_csv("Video_games.csv", header=0)

In [93]:
df["JP_Sales"].min()

0.0

In [22]:
df[['Platform', 'JP_Sales', 'NA_Sales', 'EU_Sales']].groupby("Platform").count()

          JP_Sales  NA_Sales  EU_Sales
Platform
2600           133       133       133
3DO              3         3         3
3DS            520       520       520
DC              52        52        52
DS            2152      2152      2152
GB              98        98        98
GBA            822       822       822
GC             556       556       556
GEN             29        29        29
GG               1         1         1
N64            319       319       319
NES             98        98        98
NG              12        12        12
PC             974       974       974
PCFX             1         1         1
PS            1197      1197      1197
PS2           2161      2161      2161
PS3           1331      1331      1331
PS4            393       393       393
PSP           1209      1209      1209
PSV            432       432       432
SAT            173       173       173
SCD              6         6         6
SNES           239       239       239
TG16             2         2         2
WS               6         6         6
Wii           1320      1320      1320
WiiU           147       147       147
X360          1262      1262      1262
XB             824       824       824
XOne           247       247       247

In [23]:
x1 = df.groupby('Platform')['Platform'].count()
x1

Platform
2600     133
3DO        3
3DS      520
DC        52
DS      2152
GB        98
GBA      822
GC       556
GEN       29
GG         1
N64      319
NES       98
NG        12
PC       974
PCFX       1
PS      1197
PS2     2161
PS3     1331
PS4      393
PSP     1209
PSV      432
SAT      173
SCD        6
SNES     239
TG16       2
WS         6
Wii     1320
WiiU     147
X360    1262
XB       824
XOne     247
Name: Platform, dtype: int64

In [26]:
df[["NA_Sales"]].mean().round(2)

NA_Sales    0.26
dtype: float64

In [48]:
df1 = df[['Name', 'Platform', 'Year_of_Release', 'Publisher', "NA_Sales", "EU_Sales", "JP_Sales"]]
df1.query('Year_of_Release == 2003').sort_values("NA_Sales", ascending=False).head(1)

,Name,Platform,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales
112,Mario Kart: Double Dash!!,GC,2003.0,Nintendo,4.12,1.77,0.87

In [69]:
df2 = df[['Name', 'Platform', 'Year_of_Release', 'Publisher', 'User_Score']]
df2.query('Year_of_Release == 2000').sort_values("User_Score", ascending=False).head()

,Name,Platform,Year_of_Release,Publisher,User_Score
10999,Skies of Arcadia,DC,2000.0,Sega,9.4
16355,Deus Ex,PC,2000.0,Eidos Interactive,9.3
7521,Phantasy Star Online,DC,2000.0,Sega,9.1
438,Spider-Man,PS,2000.0,Activision,9.0
7231,Capcom vs. SNK,DC,2000.0,Virgin Interactive,9.0

In [87]:
df2 = df[['Name', 'Platform', 'Year_of_Release', 'Publisher', 'User_Score']]
df2.query('Year_of_Release == 2014 & Platform == "WiiU"').sort_values('User_Score', ascending=False).head()

,Name,Platform,Year_of_Release,Publisher,User_Score
110,Mario Kart 8,WiiU,2014.0,Nintendo,9.1
1231,Donkey Kong Country: Tropical Freeze,WiiU,2014.0,Nintendo,8.9
1691,Captain Toad: Treasure Tracker,WiiU,2014.0,Nintendo,8.6
1627,Hyrule Warriors,WiiU,2014.0,Nintendo,8.3
2687,Bayonetta 2,WiiU,2014.0,Nintendo,8.2

In [88]:
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN